.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa; /* Couleur de fond */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.password-container {
  position: relative;
}

.password-container input[type="password"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.password-container button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.password-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #dc3545;
  margin-bottom: 15px;
}

.login-container button {
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-links {
  margin-top: 20px;
  text-align: center;
}

.login-links a {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}
